.body {
  padding: 15px 30px;
}

.headerBox {
  margin: 5;
  display: flex;
  align-items: center;
}

.avatarWrapper {
  display: flex;
  padding: 5px;
}
.avatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-width: 50px;
  min-height: 50px;
  background-image: url(../../../public/logo_server_def.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.avatarPicture::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 99;
  min-width: 52px;
  min-height: 52px;
  background: url(../../../public/channel/server_logo_border.png) no-repeat
    center center;
  background-size: cover;
  background-position: 0 0;
}

.userInfoWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userAccount {
  margin-left: 10px;
}
.userName {
  margin-left: 10px;
  color: #777;
}

.split {
  width: 100%;
  height: 0%;
  border-bottom: 1px solid #e0e0e4;
  margin: 10px 0;
}

.contentBox {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noteText {
  color: #777;
  text-align: right;
}

.linkText {
  color: #69a5ff;
  text-align: right;
  cursor: pointer;
  margin-left: 10px;
}
.linkText:hover {
  text-decoration: underline;
}
