.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  width: 100%;
  padding: 0 10px 5px 10px;
  background-color: #0073c6;
  border-left: 1px solid #858585;
  border-right: 1px solid #858585;
}

.userSignature {
  min-height: 2rem;
  margin-left: 23px;
}

.directOptionButtons {
  display: flex;
  justify-content: left;
  margin-left: 18px;
  gap: 5px;
}

.directOptionButtons .fileShare,
.directOptionButtons .blockUser,
.directOptionButtons .unBlockUser,
.directOptionButtons .inviteTempGroup,
.directOptionButtons .report {
  content: '';
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  vertical-align: middle;
  background-size: contain;
  cursor: pointer;
}

.directOptionButtons .fileShare {
  background-image: url(../../../public/im/Fileshare.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.directOptionButtons .blockUser {
  background-image: url(../../../public/im/BlockUser.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.directOptionButtons .unBlockUser {
  background-image: url(../../../public/im/UnblockUser.PNG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.directOptionButtons .inviteTempGroup {
  background-image: url(../../../public/im/InviteTempGroup.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.directOptionButtons .report {
  background-image: url(../../../public/im/report.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bodyWrapper {
  height: 100%;
  width: 100%;
}

.bodyBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-direction: row;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: fit-content;
  padding: 10px;
  flex-direction: column;
  border-right: 2px solid #e0e0e4;
}

.avatarPicture {
  min-width: 100px;
  min-height: 100px;
  margin: 10px;
  position: relative;
  background-image: url(../../../public/im/IMLogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatarPicture::before {
  z-index: 2;
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  min-width: 120px;
  min-height: 120px;
  background-image: url(../../../public/im/logoframe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.targetBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.serverInArea {
  height: 22px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.serverInArea:after {
  content: '';
  position: absolute;
  min-height: 22px;
  min-width: 100%;
  background-image: url(../../../public/im/serverin_bkg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.serverInIcon {
  min-height: 12px;
  min-width: 12px;
  margin-left: 10px;
  background-image: url(../../../public/im/server_in.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.serverInName {
  margin-left: 5px;
  width: 100%;
}

.messageArea {
  display: flex;
  flex: 5;
  padding: 0.75rem;
  overflow-y: auto;
}

.inputArea {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputArea .topBar {
  min-height: 30px;
  min-width: 100%;
  display: flex;
  background-image: url(../../../public/tool_bkg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-bottom: 1px solid #e0e0e4;
  border-top: 1px solid #e0e0e4;
  justify-content: space-between;
}

.inputArea .topBar .buttons {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.inputArea .topBar .buttons .button {
  background-position: 0 0;
  min-height: 18px;
  min-width: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.inputArea .topBar .buttons .button.font {
  background-image: url(../../../public/FontButton.png);
}

.inputArea .topBar .buttons .button.emoji {
  background-image: url(../../../public/FaceButton.png);
}

.inputArea .topBar .buttons .button.screenShot {
  background-image: url(../../../public/ScreenShot.png);
}

.inputArea .topBar .buttons .button.nudge {
  background: url(../../../public/im/Nudge.png) no-repeat;
}

.inputArea .topBar .historyMessage {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.inputArea .topBar .historyMessage:before {
  content: '';
  min-height: 18px;
  min-width: 18px;
  margin-right: 3px;
  background-image: url(../../../public/im/history.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input {
  flex: 1;
  display: block;
  border: none;
  outline: none;
  padding: 8px;
  resize: none;
  overflow: auto;
  background: transparent;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-5px, -5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(2px, 2px);
  }
}
.shake {
  animation: shake 0.4s ease-in-out;
}
