.header {
  top: 0;
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
  background: url(../../../public/channel/chn_toolbar_bg.png);
  border-bottom: 2px solid #b4bdc7;
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.addChannelBtn,
.changeChannelNameBtn,
.deleteChannelBtn,
.upChannelOrderBtn,
.downChannelOrderBtn,
.topChannelOrderBtn,
.bottomChannelOrderBtn {
  display: flex;
  cursor: pointer;
  padding: 5px 8px 5px 8px;
  border: 1px solid #ffffff00;
}

.addChannelBtn:hover,
.changeChannelNameBtn:hover,
.deleteChannelBtn:hover,
.upChannelOrderBtn:hover,
.downChannelOrderBtn:hover,
.topChannelOrderBtn:hover,
.bottomChannelOrderBtn:hover {
  border: 1px solid #00000023;
  background: #ffffff4d;
}

.addChannelBtn:active,
.changeChannelNameBtn:active,
.deleteChannelBtn:active,
.upChannelOrderBtn:active,
.downChannelOrderBtn:active,
.topChannelOrderBtn:active,
.bottomChannelOrderBtn:active {
  background: #ffffff96;
}

.addChannelBtn:before,
.changeChannelNameBtn:before,
.deleteChannelBtn:before,
.upChannelOrderBtn:before,
.downChannelOrderBtn:before,
.topChannelOrderBtn:before,
.bottomChannelOrderBtn:before {
  content: '';
  background-position: 0 0;
  background-size: auto;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 5px;
}

.addChannelBtn:before {
  background: url(../../../public/channel/channel_add.png) no-repeat;
}

.changeChannelNameBtn:before {
  background: url(../../../public/channel/channel_rename.png) no-repeat;
}

.deleteChannelBtn:before {
  background: url(../../../public/channel/channel_delete.png) no-repeat;
}

.upChannelOrderBtn:before {
  background: url(../../../public/channel/channel_up.png) no-repeat;
}

.downChannelOrderBtn:before {
  background: url(../../../public/channel/channel_down.png) no-repeat;
}

.topChannelOrderBtn:before {
  background: url(../../../public/channel/channel_head.png) no-repeat;
}

.bottomChannelOrderBtn:before {
  background: url(../../../public/channel/channel_end.png) no-repeat;
}

.disabledBtn:before {
  background-position: -16px 0;
}

.disabledBtn {
  pointer-events: none;
}

.selected {
  background-color: #d1d5da5c;
}

.channelTabIndex {
  color: rgb(255, 0, 0);
  margin-left: 5px;
}

.channelTabBox {
  display: flex;
}
