.body {
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 145px;
  min-height: 0;
  background: url(../../../public/setting_left_bg.png) no-repeat center center;
  background-size: cover;
  border-right: 1px solid #b4dbec;
}

.tabs {
  height: 100%;
  width: 145px;
  display: flex;
  flex-direction: column;
}
.tabs .item {
  width: 100%;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #ffffff00;
  border-bottom: 1px solid #ffffff00;
  border-right: 1px solid #ffffff00;
  font-size: 13px;
}
.tabs .item:first-child {
  margin-top: 15px;
}
.tabs .item.active {
  border-top: 1px solid #b4dbec;
  border-bottom: 1px solid #b4dbec;
  border-right: 1px solid #ffffff00;
  background-color: #f7f7f7;
}

.right {
  height: 100%;
  width: 100%;
}

.inputGroup {
  display: flex;
  width: 100%;
  gap: 10px;
}
.inputGroup.col {
  flex-direction: column;
}
.inputGroup.row {
  flex-direction: row;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-left: 20px;
}

.hintText {
  color: #777;
  text-align: right;
}

/* Basic Info Section */

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.avatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  background-image: url(../../../public/logo_server_def.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.avatarPicture::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 99;
  min-width: 102px;
  min-height: 102px;
  background: url(../../../public/channel/server_logo_border.png) no-repeat
    center center;
  background-size: cover;
  background-position: 0 0;
}

.wealthCoinIcon::after {
  height: 16px;
  width: 16px;
  background: url(../../../public/golden_pea.png);
  background-size: cover;
  margin-left: 3px;
}

/* Announcement Section */

/* Member Manage Section */

/* 
.serverSettingItemWrapper {
  display: flex;
}

.server-setting-about,
.serverSettingItem,
.serverSettingItemBox {
  width: 100%;
}

.serverSettingItem {
  display: flex;
  align-items: center;
}

.serverSettingItemContain {
  margin: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
}

.serverSettingText {
  width: auto;
  padding: 3px;
}

.serverSettingInputBorder {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  width: auto;
}

.serverSettingInput {
  flex: 1;
  padding: 3px;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 12px;
  width: 100%;
  font-family: 'SimSun', sans-serif;
  background: #fff;
  color: #000;
}

.serverSettingAvatatarPictureBox {
  height: 100%;
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.serverSettingAvatatarPicture {
  height: 100px;
  width: 100px;
  border: 1px solid #b7cceb;
  margin-bottom: 5px;
}

.serverSettingAvatatarPicture.default {
  background: url(../../../public/im/IMLogo.png);
  background-size: cover;
}

.serverSettingButton {
  text-align: center;
  height: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-position: 0 0;
  border: 1px solid #cbcccd;
  width: auto;
  border-radius: 5px;
  background: #fff;
  min-width: 60px;
}

.serverSettingSelectBox {
  display: flex;
  align-items: center;
}

.serverSettingSelect {
  border-radius: 3px;
  flex: 1;
  padding: 3px;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 12px;
  width: 100%;
  height: auto;
  font-family: 'SimSun', sans-serif;
  appearance: none;
  min-width: 90px;
}

.serverSettingSelectBox
  .serverSettingInputBorder:has(.serverSettingSelect):before {
  background: url(../../../public/channel/spliter.png) no-repeat center center;
  content: '';
  background-size: contain;
  height: 20px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.serverSettingSelectDropDownIcon {
  width: 25px;
  height: 10px;
  background: url(../../../public/login_combobox_triangle.png) no-repeat center
    center;
  background-position: 0 0;
  position: absolute;
  top: 6px;
  right: -1px;
  pointer-events: none;
}

.serverSettingRichCoinTitle {
  display: flex;
  align-items: center;
} */

.server-setting-about .serverSettingInput {
  height: 40px;
}

.serverSettingHeaderTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5;
  height: 35px;
}

.serverSettingItemWrapper.markdown {
  align-items: center;
  flex-direction: column;
}

.markdown .serverSettingTextareaBox {
  height: 100%;
  width: 100%;
}

.markdown .serverSettingInputBorder,
.markdown .serverSettingTextarea {
  width: 98%;
  display: block;
  outline: none;
  background: #ffffff;
  padding: 8px;
  resize: none;
  overflow: auto;
  font-size: 15px;
  margin: 5px;
  border: 1px solid #e0e0e4;
  height: 220px;
}

.markdownTitle {
  width: 95%;
}

.serverSettingSearchBox {
  height: auto;
  width: 240px;
  margin-right: 15px;
}

.serverSettingSearchBox {
  height: auto;
  width: 240px;
  margin-right: 15px;
}

.serverSettingSearchBorder {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background: #fff;
  justify-content: flex-end;
}

.serverSettingSearchIcon {
  height: 17px;
  width: 17px;
  background: url(../../../public/channel/channel_search.png);
  background-size: cover;
  background-position: 0 0;
  margin-left: 5;
}

.serverSettingSearchBorder:hover:not(
    :has(.serverSettingSearchPrev:hover, .serverSettingSearchNext:hover)
  )
  .serverSettingSearchIcon {
  background-position: -17px 0;
}

.serverSettingSearchInput {
  width: auto;
  padding: 5px;
  font-size: 13px;
  height: 25px;
  border-right: 0;
}

.serverSettingSearchPrev,
.serverSettingSearchNext {
  height: 28px;
  width: 27px;
  background-size: cover;
  background-position: 0 0;
  cursor: pointer;
}

.serverSettingSearchPrev:hover,
.serverSettingSearchNext:hover {
  background-position: -29px 0;
}

.serverSettingSearchPrev:active,
.serverSettingSearchNext:active {
  background-position: -58px 0;
}

.serverSettingSearchPrev {
  background: url(../../../public/channel/search_pre.png);
}

.serverSettingSearchNext {
  background: url(../../../public/channel/search_next.png);
  left: 0px;
  position: relative;
}
