.badgeViewerWrapper {
  display: flex;
  gap: 0.25rem;
}

.badgeInfoViewerWrapper {
  position: fixed;
  z-index: 50;
  width: 9rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  background-color: #1f2937;
  color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.badgeInfoViewerWrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.25rem;
  border-style: solid;
  border-color: transparent;
}

.badgeInfoViewerWrapper.top::before {
  top: 100%;
  border-top-color: #1f2937;
}

.badgeInfoViewerWrapper.bottom::before {
  bottom: 100%;
  border-bottom-color: #1f2937;
}

.badgeInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.badgeInfoBox .name {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.badgeDescriptionBox {
  flex: 1;
  display: flex;
}

.badgeDescriptionBox .description {
  font-size: 0.75rem;
  text-align: center;
  color: #9ca3af;
  margin-top: 0.25rem;
}

.badgeContainer {
  position: relative;
  user-select: none;
}

.badgeImage {
  min-width: 1rem;
  min-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  font-weight: 500;
  color: #fff;
  background: url('../../public/badge/nerdy.png') no-repeat center;
  background-size: contain;
}
