.contextMenu {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contextMenu.hidden {
  display: none;
}

.contextMenu .separator {
  min-height: 1px;
  min-width: 100%;
  display: block;
  margin: 3px 0;
  background-image: url('../../public/ctrl/menu_spliter.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contextMenu .options {
  z-index: 1000;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contextMenu .option {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 6px 10px;
  cursor: pointer;
  color: #333;
}

.language-select .option {
  justify-content: center;
}

.contextMenu .option:not([data-type=''])::before {
  content: '';
  min-width: 16px;
  min-height: 16px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}

.contextMenu .option[data-type='setting']::before {
  background-image: url('../../public/set.png');
}

.contextMenu .option[data-type='message']::before {
  background-image: url('../../public/message.png');
}

.contextMenu .option[data-type='skin']::before {
  background-image: url('../../public/skin.png');
}

.contextMenu .option[data-type='exit']::before {
  background-image: url('../../public/exit.png');
}

.contextMenu .option[data-type='submenu']::before {
  background-image: url('../../public/ctrl/icon_submenu.png');
  transform: rotate(180deg);
}

.contextMenu .option[data-type='memberapply']::before {
  background-image: url('../../public/channel/icon_memberapply.png');
}

.contextMenu .option[data-type='editGroupcard']::before {
  background-image: url('../../public/channel/icon_editGroupcard.png');
}

.contextMenu .option[data-type='locateme']::before {
  background-image: url('../../public/channel/icon_locateme.png');
}

.contextMenu .option[data-type='uncollect']::before {
  background-image: url('../../public/channel/icon_uncollect.png');
}

.contextMenu .option[data-type='collect']::before {
  background-image: url('../../public/channel/icon_collect.png');
}

.contextMenu .option:hover {
  background: #eee;
}

/* .contextMenu .option.hasSubmenu {
  position: relative;
} */

.contextMenu .option.hasSubmenu .contextMenu {
  display: none;
}

.contextMenu .option.hasSubmenu:hover .contextMenu {
  display: flex;
}
