.contextMenu {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  z-index: 1000;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.contextMenu.hidden {
  display: none;
}

.contextMenu .separator {
  min-height: 1px;
  min-width: 100%;
  display: block;
  margin: 3px 0;
  background-image: url('../../public/ctrl/menu_spliter.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.contextMenu .option {
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 30px;
  min-width: max-content;
}

.contextMenu .option:not([data-type=''])::before {
  position: absolute;
}

.contextMenu .option[data-type='setting']::before {
  left: 3px;
  content: '';
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../public/set.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='message']::before {
  left: 3px;
  content: '';
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../public/message.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='skin']::before {
  left: 3px;
  content: '';
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../public/skin.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='exit']::before {
  left: 3px;
  content: '';
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../public/exit.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='submenu']::before {
  right: 3px;
  content: '';
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../public/ctrl/icon_submenu.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='memberapply']::before {
  left: 3px;
  content: '';
  min-width: 20px;
  min-height: 16px;
  background-image: url('../../public/channel/icon_memberapply.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='editGroupcard']::before {
  left: 3px;
  content: '';
  min-width: 20px;
  min-height: 16px;
  background-image: url('../../public/channel/icon_editGroupcard.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='locateme']::before {
  left: 3px;
  content: '';
  min-width: 20px;
  min-height: 16px;
  background-image: url('../../public/channel/icon_locateme.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='uncollect']::before {
  left: 3px;
  content: '';
  min-width: 20px;
  min-height: 16px;
  background-image: url('../../public/channel/icon_uncollect.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='collect']::before {
  left: 3px;
  content: '';
  min-width: 20px;
  min-height: 16px;
  background-image: url('../../public/channel/icon_collect.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option:hover {
  background: #eee;
}

/* .contextMenu .option.hasSubmenu {
  position: relative;
} */

.contextMenu .option.hasSubmenu .contextMenu {
  display: none;
}

.contextMenu .option.hasSubmenu:hover .contextMenu {
  display: flex;
}
