.contextMenu {
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* padding: 3px; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contextMenu.hidden {
  display: none;
}

.contextMenu .separator {
  min-height: 6px;
  min-width: 100%;
  display: block;
  margin: 3px 0;
  background-image: url(../../public/channel/chn_tree_split.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.contextMenu .option {
  font-size: 13px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 30px;
  min-width: max-content;
}

.contextMenu .option:not([data-type=''])::before {
  position: absolute;
}

.contextMenu .option[data-type='setting']:before {
  left: 3px;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../../public/set.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='message']:before {
  left: 3px;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../../public/message.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='skin']:before {
  left: 3px;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../../public/skin.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='exit']:before {
  left: 3px;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../../public/exit.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option[data-type='submenu']:before {
  right: 3px;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../../public/ctrl/icon_submenu.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contextMenu .option:hover {
  background: #eee;
}

/* .contextMenu .option.hasSubmenu {
  position: relative;
} */

.contextMenu .option.hasSubmenu .contextMenu {
  display: none;
}

.contextMenu .option.hasSubmenu:hover .contextMenu {
  display: flex;
}
