:root {
  --background: 0.97 0.01 275;
  --foreground: 0.2 0.01 275;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0.2 0.01 275;
    --foreground: 0.9 0.01 275;
  }
}

* {
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: SimSun, Arial, Helvetica, sans-serif;
}

html,
body,
#__next,
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  font-size: 13px;
  color: var(--foreground);
  background: none;
  user-select: none;
}

.wrapper {
  border: 1px solid #6d6d6d26;
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #6d6d6d0f;
  border-radius: 4px;
  border: 1px solid #6d6d6d26;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d38;
}

div.resizeHandle {
  width: 0.125rem;
  height: 100%;
  background: rgb(229 231 235);
  cursor: col-resize;
}

input[type='radio'] {
  background: url('../../public/ctrl/radiobox_icon.png');
}

input[type='checkbox'] {
  background: url('../../public/ctrl/checkbox_icon.png');
}

input[type='radio'],
input[type='checkbox'] {
  background-size: inherit;
  background-position: 0 0;
  cursor: pointer;
  appearance: none;
  height: 20px;
  width: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
  background-position: 0 -18px;
}

input[type='radio']:hover,
input[type='checkbox']:hover {
  background-position: -18px 0;
}

input[type='radio']:checked:hover,
input[type='checkbox']:checked:hover {
  background-position: -18px -18px;
}
