.homeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Header */

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 8px 4px 8px;
  border-bottom: 2px solid #ddd;
}

.homeHeader .left,
.homeHeader .mid,
.homeHeader .right {
  display: flex;
  align-items: center;
  width: auto;
}

.backBtn {
  background: url(../../public/icon_left_arrow.png) no-repeat center center;
  min-height: 15px;
  min-width: 15px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  background-position: 0 0;
}

.forwardBtn {
  background: url(../../public/icon_right_arrow.png) no-repeat center center;
  min-height: 15px;
  min-width: 15px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  background-position: 0 0;
}

.backBtn:hover,
.forwardBtn:hover {
  background-position: -16px 0;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-right: 15px;
  background: #fff;
}

.searchInput {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  width: auto;
}

.navegateItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px;
  position: relative;
  background: none;
  cursor: pointer;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #ffffff00;
  min-width: max-content;
  margin-right: 15px;
}

.navegateItem:hover {
  background-color: #e5e5e5;
  border: 1px solid #bdbdbd;
}

.navegateItem.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #666;
}

.navegateItem[data-key='60060']:before {
  content: '';
  background: url(../../public/icon_home_page.png) no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='40007']:before {
  content: '';
  background: url(../../public/icon_game.png) no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='30375']:before {
  content: '';
  background: url(../../public/icon_amusement.png) no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='30014']:before {
  content: '';
  background: url(../../public/icon_create.png) no-repeat center center;
  background-position: 0 0;
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
}

.navegateItem[data-key='60004']:before {
  content: '';
  background: url(../../public/icon_person.png) no-repeat center center;
  background-position: 0 0;
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
}

/* Content */
.myGroupsWrapper {
  height: 100%;
  width: 100%;
  background: #f4f6fa;
}

.myGroupsContain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 1rem);
  padding: 25px;
}

.myGroupsView {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myGroupsTitle {
  font-weight: bold;
  font-size: 20px;
}

.myGroupsRoomItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.myGroupsView div:not(:last-child) .myGroupsRoomItems {
  margin-bottom: 1rem;
}

.myGroupsRoomItemBox {
  border: 1px solid #e0e0e4;
  padding: 12px;
  width: 15rem;
  display: flex;
  padding-bottom: 10;
  padding-top: 10;
  height: 5.5rem;
  cursor: pointer;
  background: #fff;
  align-items: center;
  min-width: 200px;
  max-width: 320px;
}

.myGroupsRoomAvatarPicture {
  width: auto;
  height: 50px;
  background: url(../../public/im/IMLogo.png) no-repeat center center;
  background-size: cover;
  background-position: 0 0;
  min-width: 50px;
}

.myGroupsRoomInfo {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  width: 100%;
}

.myGroupsRoomName {
  color: #10469e;
  font-size: 14px;
}

.myGroupsRoomIDBox {
  display: flex;
}

.myGroupsRoomIDBox,
.myGroupsRoomSlogen {
  font-size: 13px;
  color: #777777;
}

.myGroupsRoomIDTitle {
  display: flex;
  align-items: flex-start;
}

.myGroupsRoomSlogen {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}

.myGroupsRoomIDTitle.IsOwner:before {
  content: '';
  width: 13px;
  height: 15px;
  background: url(../../public/icon_creator.png) no-repeat center center;
  background-size: contain;
  background-position: 0 0;
  display: block;
  margin-right: 2px;
}

@media only screen and (min-width: 500px) {
  .myGroupsRoomItems {
    width: 450px;
  }
}

@media only screen and (min-width: 650px) {
  .myGroupsRoomItems {
    width: 650px;
  }
}
