.homeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Header */

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 4px 8px;
  border-bottom: 2px solid #ddd;
}

.homeHeader .left,
.homeHeader .mid,
.homeHeader .right {
  display: flex;
  align-items: center;
  width: auto;
}

.backBtn {
  background: url('../../public/icon_left_arrow.png') no-repeat center center;
  min-height: 15px;
  min-width: 15px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  background-position: 0 0;
}

.forwardBtn {
  background: url('../../public/icon_right_arrow.png') no-repeat center center;
  min-height: 15px;
  min-width: 15px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  background-position: 0 0;
}

.backBtn:hover,
.forwardBtn:hover {
  background-position: -16px 0;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
  background: #fff;
}

.searchInput {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: auto;
}

.navegateItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #666;
  position: relative;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff0;
  min-width: max-content;
  height: 2.2rem;
  margin-right: 15px;
}

.navegateItem:hover {
  background-color: #e5e5e5;
  border: 1px solid #bdbdbd;
}

.navegateItem.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #666;
}

.navegateItem[data-key='60060']::before {
  content: '';
  background: url('../../public/icon_home_page.png') no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='40007']::before {
  content: '';
  background: url('../../public/icon_game.png') no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='30375']::before {
  content: '';
  background: url('../../public/icon_amusement.png') no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='30014']::before {
  content: '';
  background: url('../../public/icon_create.png') no-repeat center center;
  background-position: 0 0;
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
}

.navegateItem[data-key='60004']::before {
  content: '';
  background: url('../../public/icon_person.png') no-repeat center center;
  background-position: 0 0;
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
}

/* Content */
.homeContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 25px 100px;
  max-height: 100%;
  gap: 10px;
  background: #f4f6fa;
}

.serverListTitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.serverCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 620px;
  gap: 10px;
}

.serverCard {
  min-width: 200px;
  max-width: 200px;
  display: flex;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  background: #fff;
  border: 1px solid #e0e0e4;
}

.serverAvatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-height: 50px;
  min-width: 50px;
  background-image: url('../../public/logo_server_def.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.serverInfoText {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  width: 100%;
  min-width: 0;
  flex: 1;
}

.serverNameText {
  color: #10469e;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.serverIdBox {
  color: #777;
  display: flex;
}

.serverIdText {
  display: flex;
  align-items: flex-start;
}

.serverSlogen {
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.serverIdText.IsOwner::before {
  content: '';
  width: 13px;
  height: 15px;
  background: url('../../public/icon_creator.png') no-repeat center center;
  background-size: contain;
  background-position: 0 0;
  display: block;
  margin-right: 2px;
}

@media only screen and (width >= 500px) {
  .myGroupsRoomItems {
    width: 450px;
  }
}

@media only screen and (width >= 650px) {
  .myGroupsRoomItems {
    width: 650px;
  }
}

.viewMoreBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #cbcccd;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
  margin: 8px auto 16px;
  gap: 5px;
}

.viewMoreBtn:hover {
  background: #f5f5f5;
}

.more::before {
  content: '';
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  transform: rotate(180deg);
  background-image: url('../../public/btn_fold_person.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more:hover::before {
  background-position: -16px 0;
}

.more:active::before {
  background-position: -32px 0;
}

.less::before {
  content: '';
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../public/btn_fold_person.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.less:hover::before {
  background-position: -16px 0;
}

.less:active::before {
  background-position: -32px 0;
}

.searchDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  margin-top: 2px;
  z-index: 1000;
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.dropdownHeader {
  padding: 6px;
  color: #000;
  border-top: 1px solid #eee;
}

.dropdownHeaderText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.dropdownItem {
  padding: 6px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}

/* .serverAvatar {
  width: 40px;
  height: 40px;
  background-image: url('../../public/logo_server_def.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.idIcon {
  background: url('../../public/channel/ID.png') no-repeat center center;
  background-size: auto;
  min-height: 12px;
  min-width: 12px;
}

.serverInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
  flex: 1;
}

.serverName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.serverIdBox {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.serverId {
  color: #666;
} */

.loadingWrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loadingBox {
  flex-direction: column;
  pointer-events: auto;
  width: 300px;
  height: 100px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid #d3d8db;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loadingTitleContain {
  display: flex;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.loadingGroupID {
  margin-left: 5px;
}

.loadingGif {
  background: url(../../public/icon_loading.gif) no-repeat center center;
  background-position: 0 0;
  width: 256px;
  height: 12px;
  background-size: contain;
  margin-top: 15px;
}

.loadingCloseBtn {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 18px;
  height: 18px;
  background: url(../../public/loading_close.png) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-position: 0 0;
}

.loadingCloseBtn:hover {
  background-position: -18px 0;
}

.loadingCloseBtn:active {
  background-position: -36px 0;
}
