.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 100%;
  gap: 1rem;
}

.appLogo {
  display: block;
  min-width: 226px;
  min-height: 54px;
  background-image: url('../../public/login_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.loadingBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 12px;
  background-image: url('../../public/icon_loading.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  gap: 1rem;
}

.errorBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

.input {
  position: relative;
  flex: 1;
  height: 29px;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  transition: box-shadow 0.3s ease;
  background: #fcfcfc;
}

.input:focus {
  outline: none;
  background: #fff;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.inputBox label {
  color: #333;
  margin-bottom: 5px;
  display: block;
  width: auto;
  text-align: left;
}

.inputBox label::after {
  content: '*';
  color: red;
}

.inputBox .warning {
  color: red;
  font-size: 0.9rem;
}

.checkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  font-size: 0.9rem;
  color: #777;
}

.checkWrapper .checkBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkWrapper .check {
  appearance: none;
  cursor: pointer;
}

.checkWrapper .check::before {
  content: '';
  background: url('../../public/ctrl/checkbox_icon.png') no-repeat center center;
  background-size: auto;
  background-position: 0 0;
  height: 18px;
  width: 18px;
  display: block;
}

.checkBox:hover > .check::before {
  background-position: -18px 0;
}

.checkBox .check:checked::before {
  background-position: 0 -18px;
}

.checkBox:hover > .check:checked::before {
  background-position: -18px -18px;
}

.button {
  width: 200px;
  height: 42px;
  background-color: #1680ce;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: SimSun, sans-serif;
}

.button:hover {
  background-color: #419ddd;
}

.button:active {
  background-color: #1680ce;
}

/* Footer */

.loginFooter {
  width: 100%;
  padding: 10px 15px;
  background-color: #f4f4f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e3e3e5;
}

.createAccount,
.forgetPassword {
  text-decoration: none;
  font-size: 0.9rem;
  color: #838383;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.createAccount:hover,
.forgetPassword:hover {
  color: #0073c6;
}

.createAccount::before,
.forgetPassword::before {
  content: '';
  min-width: 14px;
  min-height: 14px;
  background-size: contain;
  background-size: cover;
  margin-right: 5px;
  vertical-align: middle;
}

.createAccount::before {
  background: url('../../public/icon_createaccount.png') no-repeat center center;
}

.forgetPassword::before {
  background: url('../../public/icon_getpass.png') no-repeat center center;
}
