.messageViewerWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.messageWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.senderIcon {
  display: flex;
}
.infoIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.messageBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.messageBox .header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.messageBox .header .name {
  font-weight: bold;
  font-size: 13px;
}

.messageBox .header .timestamp {
  margin-left: .5rem;
  font-size: 12px;
  color: #888;
}

.messageBox .content {
  color: #4a5568;
  user-select: text;
}
