.messageInputBox {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
}

.messageInputBox.warning {
  border-color: #f00;
}

.messageInputBox.disabled {
  color: #8f8f8f;
  opacity: 0.5;
  pointer-events: none;
}

.messageInputBox textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
}

.messageInputBox textarea:focus {
  outline: none;
}

.messageInputLength {
  color: #ccc;
  font-size: 0.9rem;
  align-self: flex-end;
  margin-left: 2px;
}

.emojiIcon {
  position: relative;
  width: 18px;
  height: 18px;
}

.emojiIcon::before {
  content: '';
  min-width: 18px;
  min-height: 18px;
  background: url('../../public/channel/FaceButton.png') no-repeat center center;
  background-size: auto;
  background-position: 0 0;
  cursor: pointer;
  display: block;
}

.emojiIcon:hover::before {
  background-position: -18px 0;
}

.emojiIcon:active::before {
  background-position: -36px 0;
}

.emojiGrid {
  display: grid;
  position: absolute;
  top: -15rem;
  left: 0;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.emoji {
  min-width: 19px;
  min-height: 19px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.emoji:hover {
  border: 1px solid #5898ff;
}

.emoji[data-id='1'] {
  background-image: url('../../public/smiles/1.gif');
}

.emoji[data-id='2'] {
  background-image: url('../../public/smiles/2.gif');
}

.emoji[data-id='3'] {
  background-image: url('../../public/smiles/3.gif');
}

.emoji[data-id='4'] {
  background-image: url('../../public/smiles/4.gif');
}

.emoji[data-id='5'] {
  background-image: url('../../public/smiles/5.gif');
}

.emoji[data-id='6'] {
  background-image: url('../../public/smiles/6.gif');
}

.emoji[data-id='7'] {
  background-image: url('../../public/smiles/7.gif');
}

.emoji[data-id='8'] {
  background-image: url('../../public/smiles/8.gif');
}

.emoji[data-id='9'] {
  background-image: url('../../public/smiles/9.gif');
}

.emoji[data-id='10'] {
  background-image: url('../../public/smiles/10.gif');
}

.emoji[data-id='11'] {
  background-image: url('../../public/smiles/11.gif');
}

.emoji[data-id='12'] {
  background-image: url('../../public/smiles/12.gif');
}

.emoji[data-id='13'] {
  background-image: url('../../public/smiles/13.gif');
}

.emoji[data-id='14'] {
  background-image: url('../../public/smiles/14.gif');
}

.emoji[data-id='15'] {
  background-image: url('../../public/smiles/15.gif');
}

.emoji[data-id='16'] {
  background-image: url('../../public/smiles/16.gif');
}

.emoji[data-id='17'] {
  background-image: url('../../public/smiles/17.gif');
}

.emoji[data-id='18'] {
  background-image: url('../../public/smiles/18.gif');
}

.emoji[data-id='19'] {
  background-image: url('../../public/smiles/19.gif');
}

.emoji[data-id='20'] {
  background-image: url('../../public/smiles/20.gif');
}

.emoji[data-id='21'] {
  background-image: url('../../public/smiles/21.gif');
}

.emoji[data-id='22'] {
  background-image: url('../../public/smiles/22.gif');
}

.emoji[data-id='23'] {
  background-image: url('../../public/smiles/23.gif');
}

.emoji[data-id='24'] {
  background-image: url('../../public/smiles/24.gif');
}

.emoji[data-id='25'] {
  background-image: url('../../public/smiles/25.gif');
}

.emoji[data-id='26'] {
  background-image: url('../../public/smiles/26.gif');
}

.emoji[data-id='27'] {
  background-image: url('../../public/smiles/27.gif');
}

/* .emoji[data-id='28'] {
    background-image: url(../../public/smiles/28.gif);
  } */

.emoji[data-id='29'] {
  background-image: url('../../public/smiles/29.gif');
}

.emoji[data-id='30'] {
  background-image: url('../../public/smiles/30.gif');
}

.emoji[data-id='31'] {
  background-image: url('../../public/smiles/31.gif');
}

.emoji[data-id='32'] {
  background-image: url('../../public/smiles/32.gif');
}

.emoji[data-id='33'] {
  background-image: url('../../public/smiles/33.gif');
}

.emoji[data-id='34'] {
  background-image: url('../../public/smiles/34.gif');
}

.emoji[data-id='35'] {
  background-image: url('../../public/smiles/35.gif');
}

.emoji[data-id='36'] {
  background-image: url('../../public/smiles/36.gif');
}

.emoji[data-id='37'] {
  background-image: url('../../public/smiles/37.gif');
}

.emoji[data-id='38'] {
  background-image: url('../../public/smiles/38.gif');
}

.emoji[data-id='39'] {
  background-image: url('../../public/smiles/39.gif');
}

.emoji[data-id='40'] {
  background-image: url('../../public/smiles/40.gif');
}

.emoji[data-id='41'] {
  background-image: url('../../public/smiles/41.gif');
}

.emoji[data-id='42'] {
  background-image: url('../../public/smiles/42.gif');
}

.emoji[data-id='43'] {
  background-image: url('../../public/smiles/43.gif');
}

.emoji[data-id='44'] {
  background-image: url('../../public/smiles/44.gif');
}

.emoji[data-id='45'] {
  background-image: url('../../public/smiles/45.gif');
}

.emoji[data-id='46'] {
  background-image: url('../../public/smiles/46.gif');
}

.emoji[data-id='47'] {
  background-image: url('../../public/smiles/47.gif');
}

.emoji[data-id='48'] {
  background-image: url('../../public/smiles/48.gif');
}

.emoji[data-id='49'] {
  background-image: url('../../public/smiles/49.gif');
}

.emoji[data-id='50'] {
  background-image: url('../../public/smiles/50.gif');
}

.emoji[data-id='51'] {
  background-image: url('../../public/smiles/51.gif');
}

.emoji[data-id='52'] {
  background-image: url('../../public/smiles/52.gif');
}

.emoji[data-id='53'] {
  background-image: url('../../public/smiles/53.gif');
}

.emoji[data-id='54'] {
  background-image: url('../../public/smiles/54.gif');
}

.emoji[data-id='55'] {
  background-image: url('../../public/smiles/55.gif');
}

.emoji[data-id='56'] {
  background-image: url('../../public/smiles/56.gif');
}

.emoji[data-id='57'] {
  background-image: url('../../public/smiles/57.gif');
}

.emoji[data-id='58'] {
  background-image: url('../../public/smiles/58.gif');
}

.emoji[data-id='59'] {
  background-image: url('../../public/smiles/59.gif');
}

.emoji[data-id='60'] {
  background-image: url('../../public/smiles/60.gif');
}

.emoji[data-id='61'] {
  background-image: url('../../public/smiles/61.gif');
}
