.serverWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Content */

.serverContent {
  display: flex;
  flex: 1;
  min-height: 0;
}

.scrollView {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  background-color: #f1f2f5;
  border-right: 1px solid #e2e8f0;
  font-size: 0.875rem;
}

.sidebarHeader {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e0e0e4;
  padding: 0.5rem;
  gap: 5px;
}

.avatarBox {
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.avatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-height: 50px;
  min-width: 50px;
  background-image: url('../../public/logo_server_def.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.avatarPicture::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 99;
  min-width: 52px;
  min-height: 52px;
  background: url('../../public/win_border.png') no-repeat center center;
  background-size: cover;
}

.baseInfoBox {
  width: 120px;
  height: 52px;
  display: flex;
  right: 5px;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: #515151;
}

.baseInfoBox .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 7px;
  position: relative;
}

.verifyIcon {
  width: 12px;
  height: 12px;
  background: url(../../public/icon_verify.png) no-repeat center center;
  background-size: cover;
  margin-right: 2px;
}

.name {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.idText,
.memberText {
  position: relative;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.idText:before {
  content: '';
  height: 12px;
  width: 12px;
  position: relative;
  background: url('../../public/channel/ID.png') no-repeat center center;
  margin-right: 5px;
}

.memberText:before {
  margin-left: 20px;
  content: '';
  height: 12px;
  width: 12px;
  position: relative;
  background: url('../../public/channel/member.png') no-repeat center center;
  margin-right: 5px;
}

.optionBox {
  gap: 5px;
  height: auto;
  min-width: 40px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin-left: auto;
  bottom: -20px;
  right: -5px;
}

.navItem:first-child:hover::before,
.navItem:last-child:hover::before {
  background-position: -36px 0;
}

.invitation {
  background: url('../../public/channel/icon_invite_friend.png') no-repeat
    center center;
  background-position: 0 0;
  min-height: 20px;
  min-width: 20px;
  cursor: pointer;
}

.invitation:hover {
  background-position: -20px 0;
}

.invitation:active {
  background-position: -40px 0;
}

.setting {
  background: url('../../public/channel/icon_group_option.png') no-repeat center
    center;
  background-position: 0 0;
  min-height: 18px;
  min-width: 24px;
  cursor: pointer;
}

.setting:hover {
  background-position: -24px 0;
}

.setting:active {
  background-position: -48px 0;
}

.saperator {
  background: url('../../public/icon_v_split.png') no-repeat center center;
  min-height: 20px;
  min-width: 2px;
  background-size: auto;
}

.saperator-2 {
  background: url('../../public/channel/chn_tree_split.png') no-repeat center
    center;
  min-height: 6px;
  min-width: 100%;
  display: block;
  margin: 0.5rem 0;
}

.sectionTitle {
  color: #a8a8a8;
  padding: 5px 10px;
}

.currentChannelBox {
  height: 35px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.currentChannelIcon {
  background: url('../../public/channel/NetworkStatus.png') no-repeat center
    center;
  min-height: 20px;
  min-width: 20px;
  background-position: 0 0;
  margin-left: 8px;
}

.currentChannelIcon.status1 {
  background-position: -20px 0;
}

.currentChannelIcon.status2 {
  background-position: -40px 0;
}

.currentChannelIcon.status3 {
  background-position: -60px 0;
}

.currentChannelIcon.status4 {
  background-position: -80px 0;
}

.currentChannelText {
  margin-left: 3px;
  color: #555;
  font-size: 1.1rem;
}

.micQueueBox {
  display: flex;
  flex-direction: column;
  height: 120px;
}

.channelList {
  display: flex;
  flex-direction: column;
}

.channelList .channelTab {
  position: relative;
  padding: 1px 20px 1px 8px;
  display: flex;
  align-items: center;
  height: 1.8rem;
  cursor: pointer;
  gap: 5px;
}

.channelList .channelTab:hover {
  background-color: #d1d5da5c;
}

.channelList .tabIcon {
  display: inline-block;
  background-image: url('../../public/channel/channelIcon.png');
  background-repeat: no-repeat;
  background-size: auto;
  min-width: 14px;
  min-height: 14px;
}

.channelList .tabIcon.public {
  background-position: 0 0;
}

.channelList .tabIcon.public.expanded {
  background-position: -14px 0;
}

.channelList .tabIcon.member {
  background-position: 0 -14px;
}

.channelList .tabIcon.member.expanded {
  background-position: -14px -14px;
}

.channelList .tabIcon.private {
  background-position: -28px 0;
}

.channelList .tabIcon.private.expanded {
  background-position: -28px -14px;
}

.channelList .tabIcon.readonly {
  background-position: -42px 0;
}

.channelList .tabIcon.readonly.expanded {
  background-position: -42px -14px;
}

.channelList .tabIcon.lobby {
  background-position: -56px 0;
}

.channelList .tabIcon.lobby.expanded {
  background-position: -56px -14px;
}

.channelList .channelTab .channelTabLable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelList .channelTab .channelTabCount {
  color: #555;
}

.channelList .channelList:not(.lobby) .channelTab,
.channelList .channelList:not(.lobby) .userTab {
  padding-left: 25px;
}

.lobby,
.isLobby {
  color: red;
}

.isVIP {
  color: #dd1313 !important;
}

.userList {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.userList .userTab {
  position: relative;
  display: flex;
  align-items: center;
  height: 1.8rem;
  padding: 1px 20px 1px 8px;
  cursor: pointer;
  gap: 5px;
}

.userList .userTab:hover {
  background-color: #d1d5da5c;
}

.userList .userTab .userTabName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
}

.userList .userTab .userTabName.member {
  color: #6e849b;
}

.userList .userTab .userState {
  min-height: 12px;
  min-width: 12px;
  background-image: url('../../public/channel/audioState.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -36px 0;
  left: 0;
}

.userList .userTab .userState.play {
  background-position: -24 0;
}

.userList .userTab .userState.muted {
  background-position: -12px 0;
}

.userList .userTab .userState.notext {
  background-position: 0 0;
}

.myLocationIcon {
  position: absolute;
  background: url('../../public/mylocation.png') no-repeat center center;
  background-size: cover;
  min-height: 15px;
  min-width: 15px;
  cursor: pointer;
  right: 0.125rem;
}

/* Main Content */

.mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.announcementArea {
  display: flex;
  flex: 2;
  overflow-y: auto;
  border-bottom: 1px solid #e2e8f0;
  padding: 0.75rem;
  margin-bottom: 0.25rem;
}

.messageArea {
  display: flex;
  flex: 5;
  padding: 0.75rem;
  overflow-y: auto;
}

/* Input Area */

.inputArea {
  display: flex;
  flex: 1;
  padding: 0.75rem;
}

/* Button Area */

.buttonArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
  padding: 0.75rem;
  border-top: 1px solid #e2e8f0;
  background: url('../../public/channel/chn_toolbar_bg.png') no-repeat center
    center;
  background-size: 100% 100%;
  background-color: #dddddf;
  z-index: 10;
}

.micButton {
  min-width: 154px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/channel/mic_state_menu.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 2px;
  cursor: pointer;
}

.micButton:hover {
  background-position: -154px 2px;
}

.micButton:active {
  background-position: -308px 2px;
}

.micIcon {
  min-width: 26px;
  min-height: 30px;
  background: url('../../public/channel/icon_mic_state.png') no-repeat center
    center;
  background-size: cover;
}

.micButton.active .micIcon {
  background: url('../../public/channel/icon_speaking_vol.png') no-repeat center
    center;
  background-position: 0 0;
  background-size: cover;
}

.micButton.active .micIcon.level1 {
  background-position: -24px 0;
}

.micButton.active .micIcon.level2 {
  background-position: -48px 0;
}

.micButton.active .micIcon.level3 {
  background-position: -72px 0;
}

.micButton.active .micIcon.level4 {
  background-position: -96px 0;
}

.micButton.active .micIcon.level5 {
  background-position: -120px 0;
}

.micButton.active .micIcon.level6 {
  background-position: -144px 0;
}

.micButton.active .micIcon.level7 {
  background-position: -168px 0;
}

.micButton.active .micIcon.level8 {
  background-position: -192px 0;
}

.micButton.active .micIcon.level9 {
  background-position: -216px 0;
}

.micText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 1.25rem;
  color: #28a0da;
  font-family: 'Noto Sans TC';
}

.micSubText {
  font-size: 0.875rem;
  color: #777;
}

.micButton.active .micText {
  color: #b9ceb7;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.voiceModeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #777;
  gap: 5px;
}

.voiceModeButton::after {
  content: '';
  background: url('../../public/channel/triangle.png') no-repeat center center;
  min-height: 8px;
  min-width: 8px;
  background-position: 0 0;
  cursor: pointer;
  display: block;
}

.voiceModeButton:hover::after {
  background-position: -9px 0;
}

.voiceModeButton:active::after {
  background-position: -18px 0;
}

.voiceModeDropdown {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  background: none;
  color: #777;
  text-align: center;
  position: relative;
}

.voiceModeDropdown::after {
  content: '';
  background: url('../../public/channel/triangle.png') no-repeat center center;
  min-height: 8px;
  min-width: 8px;
  background-position: 0 0;
  cursor: pointer;
  display: block;
}

.voiceModeDropdown:hover::after {
  background-position: -9px 0;
}

.voiceModeDropdown:active::after {
  background-position: -18px 0;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: none;
  border-radius: 4px;
  z-index: 1000;
}

.dropdownItem {
  cursor: pointer;
  text-align: center;
}

.bkgModeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #777;
}

.bkgModeButton::before {
  content: '';
  background: url('../../public/channel/music_bkg.png') no-repeat center center;
  min-height: 18px;
  min-width: 18px;
  background-position: 0 0;
}

.micModeButton {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.micModeButton::before {
  content: '';
  position: absolute;
  background: url('../../public/channel/Mic.png') no-repeat center center;
  min-height: 18px;
  min-width: 18px;
  background-position: 0 0;
}

.micModeButton::after {
  content: '';
  position: absolute;
  background: url('../../public/channel/Mic.png') no-repeat center center;
  min-height: 18px;
  min-width: 18px;
  opacity: 0;
  background-position: -16px 0;
}

.micModeButton.muted::after {
  opacity: 1;
}

.speakerButton {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.speakerButton::before {
  content: '';
  position: absolute;
  background: url('../../public/channel/speaker.png') no-repeat center center;
  min-height: 18px;
  min-width: 18px;
  background-position: 0 0;
}

.speakerButton::after {
  content: '';
  position: absolute;
  background: url('../../public/channel/speaker.png') no-repeat center center;
  min-height: 18px;
  min-width: 18px;
  opacity: 0;
  background-position: -18px 0;
}

.speakerButton.muted::after {
  opacity: 1;
}

.recordModeButton {
  background: url('../../public/channel/recorder.png') no-repeat center center;
  min-height: 18px;
  min-width: 18px;
  background-position: 0 0;
  cursor: pointer;
}

.micVolumeContainer,
.speakerVolumeContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.micVolumeContainer .volumeSlider,
.speakerVolumeContainer .volumeSlider {
  position: absolute;
  bottom: 25px;
  left: 35%;
  transform: translateX(-50%);
  background: rgb(255 255 255 / 90%);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  z-index: 1000;
  width: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  appearance: none;
  width: 100px;
  height: 4px;
  background: #bbb;
  border-radius: 2px;
  outline: none;
  transform: rotate(-90deg);
  position: absolute;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #707070;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.bottomNav {
  display: flex;
  position: relative;
  border-top: 2px solid #e2e8f0;
}

.bottomNav::before {
  content: '';
  position: absolute;
  min-height: 20px;
  min-width: 70px;
  top: -15px;
  left: calc(25% - 35px);
  transition: left 0.2s ease;
  background: url('../../public/channel/switch_arrow.png') no-repeat center top;
  background-size: auto;
  background-position: 0 0;
}

.bottomNav:has(.navItem:last-child.active)::before {
  left: calc(75% - 35px);
}

.navItem {
  flex: 1;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
  transition: transform 0.2s ease;
}

.navItem::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  min-height: 15px;
  min-width: 15px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-right: 4px;
}

.navItem.active {
  color: #8b8b8b;
  transform: translateY(-1px);
}

.navItem:first-child::before {
  background-image: url('../../public/channel/rdb_cur_channel.png');
  background-position: 0 0;
  background-size: auto;
  min-height: 18px;
  min-width: 18px;
}

.navItem:last-child::before {
  background-image: url('../../public/channel/rdb_all_channel.png');
  background-position: 0 0;
  background-size: auto;
  min-height: 18px;
  min-width: 18px;
}

.navItem.active::before {
  background-position: 0 -18px;
}
