.userInfoCard {
  position: absolute;
  background: #f4f6fa;
  z-index: 1000;
  height: 190px;
  width: 275px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e4;
}

.userInfoCard.vip-0 {
  background: url('../../public/channel/ucard_vip0_bg.png') no-repeat center
    center;
}

.userInfoCard.vip-1 {
  background: url('../../public/channel/ucard_vip1_bg.png') no-repeat center
    center;
}

.userInfoCard.vip-2 {
  background: url('../../public/channel/ucard_vip2_bg.png') no-repeat center
    center;
}

.userInfoCard.vip-3 {
  background: url('../../public/channel/ucard_vip3_bg.png') no-repeat center
    center;
}

.userInfoCard.vip-4 {
  background: url('../../public/channel/ucard_vip4_bg.png') no-repeat center
    center;
}

.userInfoCard.vip-5 {
  background: url('../../public/channel/ucard_vip5_bg.png') no-repeat center
    center;
}

.body {
  flex: 1;
  padding: 10px 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  height: 98px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatarPicture {
  min-height: 98px;
  min-width: 98px;
  background-image: url('../../public/im/IMLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.userInfoWrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 10px;
  gap: 4px;
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.nicknameRow {
  display: flex;
  align-items: center;
}

.nicknameRow:not(:empty)::before {
  content: '';
  display: block;
  background: url('../../public/channel/groupcard.png') no-repeat center center;
  min-width: 16px;
  min-height: 16px;
  object-fit: cover;
  background-position: 0 0;
  background-size: contain;
  margin-right: 5px;
}

.nickname {
  color: #1e667c;
}

.infoRow {
  display: flex;
  align-items: center;
}

.permissionWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer {
  height: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  color: #1e667c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vipText {
  color: #f00;
}

.permissionText {
  color: #25476a;
}

.permissionText::before {
  content: '[';
}

.permissionText::after {
  content: ']';
}

.saperator {
  background: url('../../public/icon_v_split.png') no-repeat center center;
  margin: 0 5px;
  min-width: 2px;
  min-height: 12px;
  background-size: auto;
}

.contributionBox {
  display: flex;
}

.contributionValue {
  color: #777;
}

.xpWrapper {
  display: flex;
  flex-direction: column;
}

.levelText {
  color: #777;
}

.xpBox {
  background-color: #e5e7eb;
  border-radius: 2.5px;
  height: 5px;
  border: 1px solid #b6b6b6;
}

.xpProgress {
  background-color: #f6b03b;
  border-radius: 0.125rem;
  height: 100%;
}

.xpText {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
