.header {
  display: flex;
  background-color: #0073c6;
  -webkit-app-region: drag;
  justify-content: space-between;
  min-height: 30px;
}

.appIcon {
  position: absolute;
  display: inline-block;
  min-width: 80px;
  min-height: 24px;
  background: url(../../../public/login_logo_title.png) no-repeat center center;
  vertical-align: middle;
  background-size: contain;
  left: 2.5rem;
}

.titleBox {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  width: auto;
  color: #fff;
}

.titleBox::before {
  content: '';
  display: inline-block;
  min-width: 18px;
  min-height: 18px;
  background: url(../../../public/rc_logo_small.png) no-repeat center center;
  background-size: auto;
}

.big {
  height: 40px;
}

.title {
  margin-left: 5px;
  font-size: 13px;
}

.buttons,
.mainTabs,
.userStatus {
  -webkit-app-region: no-drag;
}

/* Buttons */

.buttons {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.gift {
  min-width: 28px;
  min-height: 28px;
  background: url(../../../public/gift.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.game {
  min-width: 28px;
  min-height: 28px;
  background: url(../../../public/game.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.notice {
  min-width: 24px;
  min-height: 24px;
  background: url(../../../public/icon_notice.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.overlay {
  min-width: 24px;
  min-height: 24px;
  background: url(../../../public/icon_notice_overlay.png) no-repeat center
    center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.spliter {
  min-width: 2px;
  min-height: 19px;
  background: url(../../../public/mf_spliter.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.menu {
  min-width: 20px;
  min-height: 20px;
  background: url(../../../public/BtnMenu.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.minimize {
  min-width: 20px;
  min-height: 20px;
  background: url(../../../public/Button_Minsize.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.restore {
  min-width: 20px;
  min-height: 20px;
  background: url(../../../public/Button_Restore.png) no-repeat center center !important;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px !important;
}

.maxsize {
  min-width: 20px;
  min-height: 20px;
  background: url(../../../public/Button_Maxsize.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.close {
  min-width: 20px;
  min-height: 20px;
  background: url(../../../public/Button_Close.png) no-repeat center center;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: 0px 0px;
}

.overlayNew {
  background-position: -24px 0;
}

.game:hover,
.gift:hover {
  background-position: -28px 0;
}
.notice:hover {
  background-position: -24px 0;
}
.minimize:hover,
.maxsize:hover,
.close:hover,
.menu:hover:not(:has(.menuDropDown:hover)) {
  background-position: -20px 0;
}
.restore:hover {
  background-position: -20px 0 !important;
}

.game:active,
.gift:active {
  background-position: -56px 0;
}
.notice:active {
  background-position: -48px 0;
}
.minimize:active,
.close:active,
.maxsize:active,
.menu:active:not(:has(.menuDropDown:active)) {
  background-position: -40px 0;
}
.restore:active {
  background-position: -40px 0 !important;
}

.menuDropDown {
  position: absolute;
  top: 2.3rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  right: 1.5rem;
  padding: 3px;
  height: fit-content;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menuDropDown.hidden {
  display: none;
}

.menuDropDown .option {
  font-size: 13px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  padding: 10px;
  position: relative;
  min-width: max-content;
}

.menuDropDown .option:not([data-lang])::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.menuDropDown .option[data-type='system-setting']:before {
  background-image: url(../../../public/set.png);
}

.menuDropDown .option[data-type='message-history']:before {
  background-image: url(../../../public/message.png);
}

.menuDropDown .option[data-type='change-theme']:before {
  background-image: url(../../../public/skin.png);
}

.menuDropDown .option[data-type='exit']:before {
  background-image: url(../../../public/exit.png);
}

.menuDropDown .option[data-type='language-select']:before {
  background-image: url(../../../public/ctrl/icon_submenu.png);
  min-width: 16px;
  min-height: 10px;
  transform: rotate(180deg);
}

.menuDropDown .option:hover {
  background: #eee;
}

.menuDropDown .option.hasSubmenu {
  position: relative;
}

.menuDropDown .option.hasSubmenu:hover .menuDropDown {
  display: block;
}

/* .menuDropDown .option.hasSubmenu .submenu {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menuDropDown .option.hasSubmenu .submenu .option {
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .menuDropDown .option.hasSubmenu .submenu .option:hover {
    background: #eee;
  } */

.selected:before {
  width: 13px;
  height: 13px;
  background: url(../../../public/user_state.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

/* Main Tab */

.mainTabs {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  width: auto;
  height: 40px;
  margin-left: 9rem;
  gap: 0.25rem;
}

.mainTabs .tab {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 1rem 0 1rem;
  width: max-content;
  min-width: 120px;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2.2rem;
}

.mainTabs .tab .tabBg {
  position: absolute;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 30px;
  bottom: 0;
}

.mainTabs .tab.selected .tabBg {
  background-color: #fff;
  color: rgb(55, 144, 206);
}

.mainTabs .tab .tabLable {
  flex: 1;
  z-index: 1;
  color: rgb(255 255 255);
}

.mainTabs .tab.selected .tabLable {
  color: rgb(0 115 198);
}

.mainTabs .tab.selected .tabClose {
  color: #0073c6;
}

.mainTabs .tabClose {
  z-index: 1;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}

/* User Status */

.userStatus {
  max-width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 2.5rem;
  height: 40px;
}

.nameDisplay {
  color: #000;
  text-shadow: 0px 0px 4px #ffffff99;
  font-size: 12px;
  line-height: 16px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  padding: 3px;
}

.nameDisplay:hover {
  color: #222222;
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff1f;
  border-radius: 3px;
}

.nameDisplay:active {
  color: #222222;
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff36;
}

.statusBox {
  position: relative;
  display: flex;
  padding: 2px;
  height: fit-content;
}

.statusBox:hover:not(:has(.statusDropdown:hover)) {
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff1f;
  border-radius: 3px;
}

.statusBox:active:not(:has(.statusDropdown:active)) {
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff36;
}

.statusDisplay {
  display: inline-block;
  min-width: 13px;
  min-height: 13px;
  background: url(../../../public/user_state.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0 !important;
}

.statusDisplay[datatype='online'] {
  background-position: 0 0 !important;
}

.statusDisplay[datatype='dnd'] {
  background-position: -13px 0 !important;
}

.statusDisplay[datatype='idle'] {
  background-position: -26px 0 !important;
}

.statusDisplay[datatype='gn'] {
  background-position: -39px 0 !important;
}

.statusTriangle {
  display: inline-block;
  min-width: 8px;
  min-height: 13px;
  margin-left: 5px;
  background: url(../../../public/state_triangle.png) no-repeat center center;
  background-size: auto;
  background-position: 0px 4px;
}

.statusBox:hover:not(:has(.statusDropdown:hover)) .statusTriangle {
  background-position: -9px 4px;
}

.statusBox:active:not(:has(.statusDropdown:active)) .statusTriangle {
  background-position: -18px 4px;
}

.statusDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 1.4rem;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 3px;
}

.statusDropdown.hidden {
  display: none;
}

.statusDropdown .option {
  color: #333;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: unset;
  width: 13px;
  height: 13px;
  padding: 0.2rem;
}

.statusDropdown .option:hover {
  background-color: #0073c6;
  color: #fff;
}

.statusDropdown .option::before {
  content: '';
  display: inline-block;
  min-width: 13px;
  min-height: 13px;
  background: url(../../../public/user_state.png) no-repeat center center;
  background-size: auto;
}

.statusDropdown .option[datatype='online']::before {
  background-position: 0 0;
}

.statusDropdown .option[datatype='dnd']::before {
  background-position: -13px 0;
}

.statusDropdown .option[datatype='idle']::before {
  background-position: -26px 0;
}

.statusDropdown .option[datatype='gn']::before {
  background-position: -39px 0;
}
