.Male {
  height: 15px;
  width: 15px;
  min-height: 15px;
  min-width: 15px;
  background-image: url('../../../public/channel/UserIconsMale.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.Female {
  height: 15px;
  width: 15px;
  min-height: 15px;
  min-width: 15px;
  background-image: url('../../../public/channel/UserIconsFemale.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.lv-1 {
  background-position: 0 0;
}

.lv-2 {
  background-position: -14px 0;
}

.lv-3 {
  background-position: -28px 0;
}

.lv-4 {
  background-position: -42px 0;
}

.lv-5 {
  background-position: -56px 0;
}

.lv-6 {
  background-position: -70px 0;
}

.lv-7 {
  background-position: -84px 0;
}

.lv-8 {
  background-position: -98px 0;
}
