@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0.97 0.01 275;
  --foreground: 0.2 0.01 275
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0.2 0.01 275;
    --foreground: 0.9 0.01 275;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: SimSun, Arial, Helvetica, sans-serif;
}
